@model SRIS.ViewModels.LinkManModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>联系人信息</title>
    <script src="~/Scripts/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.js"></script>
</head>
<body>
    <form class="layui-form" action="/Case/EditLinManInfo" method="post">
        <hr />
        @Html.HiddenFor(model=>model.RegisterInfoId)
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.LabelFor(model=>model.LinkManName,new { @class= "layui-form-label" })
                <div class="layui-input-inline">
                    @Html.TextBoxFor(model=>model.LinkManName,new { @class= "layui-input" })
                    @Html.ValidationMessageFor(model=>model.LinkManName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="男" title="男" checked>
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.LabelFor(model => model.Birthday, new { @class = "layui-form-label" })
                <div class="layui-input-inline">
                    @Html.TextBoxFor(model => model.Birthday, new { @class = "layui-input" })
                    @Html.ValidationMessageFor(model => model.Birthday)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                @Html.LabelFor(model => model.Relationship, new { @class = "layui-form-label" })
                <div class="layui-input-inline">
                    @Html.TextBoxFor(model => model.Relationship, new { @class = "layui-input" })
                    @Html.ValidationMessageFor(model => model.Relationship)
                </div>
            </div>
        </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="submit" class="layui-btn"  value="提交"/>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
</form>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;
            //监听提交
            //form.on('submit(demo1)', function (data) {
            //    layer.alert(JSON.stringify(data.field), {
            //        title: '最终的提交信息'
            //    })
            //    return false;
            //});
           });
    </script>
</body>
</html>
